/*

Albook sepia icon theme for Hastymail2

created by terpmeister -- http://redmutt.com

*/

html{
	height: 100%;
	font-size: 10pt;
	background: #ADA887;}
	 
* html #nonfooter{ height: 100%; }

body{
    float: left;
    min-width: 100%;
	font-family: Tahoma, Verdana, Sans-Serif;
	height: 95%;
	margin: 0px;
	color: black;
	padding: 0px;
	background: #ADA887;}
	
input{
	border-width: 1px;
	border-color: #002642;
	color: black;
	background-color: white; }

textarea{
	border-width: 1px;
	border-color: #002642;
	padding: 5px; }

select, option{
	border-width: 1px;
	border-color: #002642;
	background-color: white;
	color: black; }

h4{
	margin: 0px;
	color: #002642;
	margin-top: 15px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	font-weight: bold;
	border-bottom: solid 1px #ADA887; }

h3{
	padding: 0px;
	margin: 0px;
	color: #002642;
	padding-left: 20px;
	font-weight: normal;
	font-style: italic;
	margin-top: 5px; }

h2{
	margin: 0px;
	margin-top: 10px;
	color: #002642;
	font-weight: normal; }

form{display: inline; }

option{border: none; }

a{color: #002642; }

img{border: none; }

#nonfooter{
	padding: 0px;
	margin: 0px;
	margin-bottom: -10px;
	min-height: 100%; }

#top {
	padding-top: 15px;
	padding-bottom: 5px; }

#icon {
	padding-left: 5px;
	float: left;
	font-weight: bold;
	margin-top: -3px;
	margin-left: 25px;
	vertical-align: bottom; }

#icon img{
	padding-left: 3px;
	vertical-align: -17%; }

#icon a{
 	vertical-align: -25%;
	text-decoration: none;
	padding-right: 5px; }

#icon a span{
 	font-size: 20px;
	font-family: verdana;
	font-weight: normal;
	letter-spacing: -2px; }

#icon a span .super{
 	vertical-align: super;
	font-size: 60%;
	font-weight: normal; }

#dropdown_outer{ display: inline; } 

#dropdown_outer div{ display: inline; }

#dropdown_outer select{ max-width: 210px; }

#clock_div {
	vertical-align: -20%;
	font-size: 80%;
	display: inline;
	padding-left: 10px;
	font-weight: normal; }

#unread_total {
	font-size: 80%;
	padding-left: 10px;}

#unread_total a{text-decoration: underline;}

#menu{
	float: right;
	margin-right: 40px;
	margin-bottom: 15px;
	margin-top: -7px;
	padding-top: 15px; }

#menu a{
	font-size: 100%;
	letter-spacing: -1px;
	padding: 0px; }

#menu .current_page{ color: #fff; }

#content{
	margin: 20px;
	margin-top: 0px;
    clear: both; }

#notices{
	font-weight: bold;
	margin-left: -20px;
	margin-right: -20px;
	text-align: center;
	font-size: 90%;
	font-style: italic; }

#content_inner{
	background-color: #f7f7f7;
	padding-top: 10px;
	min-height: 400px; }

#mailbox_title2 {
	color: #0b4e00;
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 20px;
	margin-left: -5px;
	margin-top: 10px;
    clear: both;
	float: left; }

#footer{
	text-align: center;
	color: #333;
	font-style: italic;
	height: 10px;
	padding-top: 20px; }

.disabled_button{ opacity: .2; }
.folder_border{ background-color: #f8f8f8; padding: 5px; padding-left: 10px; padding-right: 10px;}

#folder_cell ul li .special_folder, .special_folder{ 	color: #316f28;
														font-style: italic; }
.rtop, .rbottom{display:block; position: relative;}
.rtop *, .rbottom *{display: block; height: 1px; overflow: hidden; font-size: 1px; line-height: 1px;}
.r1{margin-left:5px; margin-right: 5px; background-color: #f7f7f7; color: #666; }
.r2{margin-left:3px; margin-right: 3px; background-color: #f7f7f7; color: #666; }
.r3{margin-left:2px; margin-right: 2px; background-color: #f7f7f7; color: #666; }
.r4{margin-left:1px; margin-right: 1px; height: 2px; background-color: #f7f7f7; color: #666;}
.rtop{background-color: transparent;}
.rbottom{background-color: transparent;}

#folder_cell{ width: 1%; padding-right: 0px; padding-left: 20px;}
.folder_inner h2 { margin: 0px; padding: 0px; padding-top: 5px; padding-bottom: 5px; font-weight: bold; font-size: 125%; margin-left: 20px; }
.folder_inner a{ color: #666; }
.folder_inner{ background-color: #edebdd; white-space: nowrap; padding-right: 0px; padding-top: 5px; padding-bottom: 5px; }
.inbox_list ul{ margin-left: -20px !important }
.folder_lists ul{ list-style-type: none; margin-top: 5px; margin-left: 0; width: 100%; white-space: nowrap; padding-left: 0px; padding-bottom: 5px; }
.folder_lists ul li {padding-right: 30px; margin-left: 0px; padding-left: 20px;}
.folder_lists ul li ul li {padding-right: 0px;}
.folder_lists a{ text-decoration: none; }
.folder_lists b{ font-size: 95%; }
.expand_link{ font-weight: bold; width: 15px; }
.current_mailbox{ font-weight: bold; }
.ftop, .fbottom{display:block; position: relative;}
.ftop *, .fbottom *{display: block; height: 1px; overflow: hidden; font-size: 1px; line-height: 1px;}
.f1{margin-left:5px; margin-right: 5px; background-color: #edebdd; color: #666; }
.f2{margin-left:3px; margin-right: 3px; background-color: #edebdd; color: #666; }
.f3{margin-left:2px; margin-right: 2px; background-color: #edebdd; color: #666; }
.f4{margin-left:1px; margin-right: 1px; height: 2px; background-color: #edebdd; color: #666;}
.ftop{background-color: transparent;}
.fbottom{background-color: transparent;}

#top_link{
    float: left;
	margin-left: 15px;
	padding-bottom: 3px;}

#login span{color: #22449b; }

#login img{vertical-align: -20%; }

#login{
    min-width: 260px;
	margin-left: 20px;
	margin-top: 30px; }
.disabled_option{background-color: #eee;}

#page_links .current_page_link{
	font-weight: bold;
	color: #333; }

#show_folders{
	font-size: 90%;
	font-weight: bold;
	font-style: italic;
	display: none; }

#hide_link{
    padding-left: 20px;
    padding-bottom: 10px;
}
